{% extends 'tasks/base.html' %}
{% block content %}
    <h1>{{ user.username }}'s projects</h1>
    <div id="projects">
        {% if projects %}
            {% for project in projects %}
                <div class="project">
                    <div class="project-title">{{ project.title }}</div>
                    <div class="tasks">
                        {% if project.tasks %}
                            {% for task in project.tasks.all %}
                                <div class="task">Task: {{ task.text }}</div>
                            {% endfor %}
                        {% else %}
                            <p>No tasks yet for this project</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No projects yet</p>
    {% endif %}
    </div>
{% endblock %}