{% extends 'tasks/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'tasks/css/project.css' %}">
    <div class="project" id="{{ project.id }}">
        <div class="title">{{ project.title }}<span class="remove-button fa-regular fa-circle-xmark fa-xs"></span></div>
        <div class="tasks">
            <h2>Tasks:</h2>
            {% if project.tasks.all %}
                {% for task in project.tasks.all %}
                    <div class="task" id="{{ task.id }}">{{ task.text }}</div>
                {% endfor %}
            {% else %}
                <p>No tasks for this project yet</p>
            {% endif %}
        </div>
            <form method="POST" class="add-task">
                {% csrf_token %}
                <input type="text" id="task-input" name="task" placeholder="Add new task">
            </form>
    <script type="text/javascript" src="{% static 'tasks/js/project_handler.js' %}"></script>
{% endblock %}