:root {
    --main-bg-color: #FCFFE7;
    --nav-bg-color: #EB455F;
    --second-bg-color: #BAD7E9;
    --third-bg-color: #2B3467;
    --offwhite: #F8F0E3;
    --offblack: #212427;
  }

body {
    margin: 0;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

#info {
    position: absolute;
    bottom: -20%;
    left: 80%;
    height: auto;
    width: auto;
    background-color: var(--second-bg-color);
    border-radius: 5rem;
    z-index: 10;
    text-align: center;
    padding: 2rem;
    color:rgb(36, 34, 30);
    font-size: 2.5rem;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    height: 10vh;
    background-color: var(--nav-bg-color);
}

#navbar div a{
    color: var(--offblack);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    margin: auto 20rem;
}

#content {
    padding: 0 10rem;
    height: 90vh;
    background-color: var(--main-bg-color);
    text-align: center;
    overflow-y: scroll;
    /* Hide scrollbar in Firefox and IE */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Hide scrollbar in webkit base browsers */
#content::-webkit-scrollbar {
    display: none;
}