:root {
    --main-bg-color: #FCFFE7;
    --nav-bg-color: #EB455F;
    --second-bg-color: #BAD7E9;
    --third-bg-color: #2B3467;
    --offwhite: #F8F0E3;
    --offblack: #212427;
  }

body {
    margin: 0;
    padding: 10vh 0;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    text-align: center;
    background-color: var(--nav-bg-color);
    display: flex;
    align-items: center;
    justify-content:center;
    overflow-y: hidden;
    width: 200vw;
}

.section {
    background-color: var(--main-bg-color);
    height: 80vh;
}

.section form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#separator {
    width: 10vw;
    height: 80vh;
    background-color: var(--third-bg-color);
    writing-mode:vertical-lr;
    text-orientation:upright;
    padding: 0 1rem;
    color: var(--offwhite);
    font-size: 5vmin;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content:center;
    row-gap: 2vw;
}